<!-- views/search.ejs -->
<!doctype html>
<html lang="ru">
<head>
    <% include ../partials/head %>
</head>
<body>
	<!--header-->
    <% include ../partials/header %>

	<main class="widthfull">
		<section style="width: 80%;margin: 0 auto;">
			<div class="wrslider widhtfull">
				<div class="slbig">
					<img src="<%= images[0].path %>" class="widthfull">
				</div>
				<div class="slpreviev">
					<% for ( var i = 0 ; i < images.length ; i++){ %>
						<img src="<%= images[i].path %>">
					<%}%>
				</div>
			</div>
			
			<h1><%= object[0].obj_name%></h1>
			<hr>
			<h2>Владелец <a href="profile/<%= object[0].user_id %>">Антон Иванов</a></h2>
			<hr>
			<div class="descwrap">
				<div class="description">

					<h2>Описание</h2>
					<!-- <b>Рейтинг:</b> 50/100<br> -->
					<b>Описание от автора:</b><%= object[0].obj_description %>
					<br><br>
					<b>Цена: </b><%= object[0].obj_price %>
					<br>

				    <b>Адрес:</b> <%= object[0].addr_city %>, ул. <%= object[0].addr_street %> д.<%= object[0].addr_obj_num %> 32<br>




				    <% if(object[0].addr_city == "Минск"){%>
				    	<b>Метро:</b><%=object[0].addr_metro %>
				    <%}%>

				    <br><br>
				    

				    <b>Кол-во комнат:</b> <%= object[0].obj_rooms_num %><br>
				    <b>Этаж:</b> <%= object[0].obj_floor %><br>
				    <b>Этажность:</b> <%= object[0].obj_floors_num %><br>
				    <b>Площадь (общая):</b> <%= object[0].obj_sq_common %> м²<br>
				    <b>Площадь (жилая):</b> <%= object[0].obj_sq_living %> м²<br>
				    <b>Площадь (кухня):</b> <%= object[0].obj_sq_kitchen %> м²<br>

				    <br>
				    <b>Тип дома:</b><%= object[0].obj_type %><br>
				    <b>Год постройки:</b> <%= object[0].obj_year_build %><br>  
				    <b>Количество спальных мест :</b><%= object[0].obj_guests_num %><br>

				    <b>Срок аренды: </b> 			<%= object[0].rent_time %>
				    <br><br>             			<%= object[0].obj_guests_num %>
				    <h3>Удобства</h3>
				    <b>Кондиционер: </b>            <%= object[0].obj_guests_num %><br>
				    <b>Посудомоечная машинка: </b>  <%= object[0].obj_guests_num %><br>
				    <b>Холодильник: </b>            <%= object[0].obj_guests_num %><br>
				    <b>Мебель: </b>            		<%= object[0].obj_guests_num %><br>
				    <b>СВЧ печь: </b>          		<%= object[0].obj_guests_num %><br>
				    <b>Телефон: </b>           		<%= object[0].obj_guests_num %><br>
				    <b>Телевизор: </b>         		<%= object[0].obj_guests_num %><br>
				    <b>Стиральная машина: </b> 		<%= object[0].obj_guests_num %><br>
				    <b>WIFI: </b>         			<%= object[0].obj_guests_num %><br>























				</div>
				<div>
					<h2>Онлайн Бронирование</h2>

					<% if(object[0].obj_reservation == 1){%>
						<br>
						<% include ../partials/calendar %>
					<%}else{%>
						<span class="fa fa-lock" style="font-size: 30px;margin-left: 150px;"></span>
						<br>
						Владелец запретил использование данной функции
					<%}%>
					
					<hr>
				</div>
			</div>
		    <hr>
			<div class="address">
				<!-- <div>
                    <h3>Как добраться</h3>
                    <p>тралик: 18 25 37 <br>
                    автобус: 1233 345 654<br>
                    такси:из любой точки города<br>
                    ближайшая станция метро: академия наук
                    </p>
                </div> -->
                <!--<div id="map" style="width: 50%;height: 300px;"></div>-->
            </div>
			<br><br>
			<!--
			<h2>Отзывы (4)</h2>	
			
			<section class="comments">
				<div class="comment-item">
					<div class="comment-image" >
						<img src="static/img/avatars/avatar1.jpg" width="70px" height="70px">
					</div>
					<div class="comment-description">
						<div class="comment-name"><b>Jan</b><span>17-12-2017</span></div>
						норм квартирка,жил пару недель.хозяева адекватные,проблем не возникало.
					</div>
				</div>
				<div class="comment-item">
					<div class="comment-image" >
						<img src="static/img/avatars/avatar1.jpg" width="70px" height="70px">
					</div>
					<div class="comment-description">
						<div class="comment-name"><b>Jan</b><span>  17-12-2017</span></div>
						норм квартирка,жил пару недель.хозяева адекватные,проблем не возникало.
					</div>
				</div>
				<div class="comment-item">
					<div class="comment-image" >
						<img src="static/img/avatars/avatar1.jpg" width="70px" height="70px">
					</div>
					<div class="comment-description">
						<div class="comment-name"><b>Jan</b><span>  17-12-2017</span></div>
						норм квартирка,жил пару недель.хозяева адекватные,проблем не возникало.
					</div>
				</div>
				<div class="comment-item">
					<div class="comment-image" >
						<img src="static/img/avatars/avatar1.jpg" width="70px" height="70px">
					</div>
					<div class="comment-description">
						<div class="comment-name"><b>Jan</b><span>  17-12-2017</span></div>
						норм квартирка,жил пару недель.хозяева адекватные,проблем не возникало.sdf sdf dfs dfshs asdfk jklj ds sdjh dskjfh askldj sdkjf kdslj  lkdj kl jsd flkdjf klksdj 
					</div>
				</div>
				<div style="width: 50%;margin-left: 82px;">
					<form>
						<!-- <div class="form-group">
							<label>asd</label>
							<input type="text" class="form-control" name="">
						</div> -->
						<!--<textarea placeholder="напишите отзыв" class="form-control"></textarea><br>
						<button class="btn btn-success btn-lg">отправить</button><br><br>
					</form>
				</div>
			</section>-->
		</section>
	</main>
	<!--footer-->
    <% include ../partials/footer %>
    

	<!-- скрипты необходимые для карты-->
	<script type="text/javascript" src="static/js/map.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZNcrzV82Jsf10l1JkdHcAxUetSArqRos&callback=initMap"></script>
	<!-- конец скрипта карты-->

</body>
</html>